/* html {
  background-color: #4e88c7;
} */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.MainLayout {
  display: 'flex';
  height: '100%';
  overflow: 'hidden';
  width: '100%';
}

.MainLayout__wrapper {
  display: 'flex';
    flex: '1 1 auto';
    overflow: 'hidden';
    paddingTop: 64;
}

.MainLayout__wrapper__contentContainer {
  display: 'flex';
  flex: '1 1 auto';
  overflow: 'hidden';
}

.MainLayout__wrapper__contentContainer__content {
  flex: '1 1 auto';
  height: '100%';
  overflow: 'auto';
}

.react-player__preview {
  max-height: 400px!important;
  height: 400px!important;
}